@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Krona+One&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
:root{
    --fonte-principal: "Bebas Neue", sans-serif;
    --fonte-secundaria: "Open Sans", sans-serif;
    --fonte-titulo: "Audiowide", sans-serif;
    --fonte-tercearia: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #2c1633, #170b1b);
    color: white;
}

header{
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
}

.menu__cabecalho a{
    text-decoration: none;
    color: white;
    font-size: 150%;
    font-family: var(--fonte-secundaria);
    animation-name: menu;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.menu__cabecalho a:hover{
    text-shadow: 0 0 5px rgb(106, 32, 121),
    0 0 10px rgb(175, 55, 199),
    0 0 20px rgb(233, 130, 253),
    0 0 40px rgb(240, 179, 252),
    0 0 80px rgb(255, 255, 255);
}

@keyframes menu{
    0%{ opacity: 0; transform: translateY(-100px) ;}
    100%{ opacity: 1; transform: translateY(0px) ;}
}

.menu__cabecalho{
    display: flex;
    gap: 5%;
    position: absolute;
    left: 1%;
}

.titulo__cabecalho{
   font-family:var(--fonte-titulo);
   font-size: 170%;
   display: block;
   animation: show 0.5s forwards, pop-word 2.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;

  transform: rotateX(120deg);
  transform-origin: 50% 100%;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

.imagem__capa{
    position: fixed;
    right: 10%;
    max-height: 100%;
    width: auto;
    border-radius: 1rem;
    animation-name: animacaoCapa;
    animation-duration: 3s;
}

.imagem__fundo{
    position: fixed;
  width: 100%;
  height: auto;
  right: 0;
  top: 0;
  border-radius: 3px;
  overflow: hidden;
}

@keyframes animacaoCapa{
    0%{ opacity: 0; transform:perspective(600px) rotateY(90deg); }
    100%{ opacity: 1; transform: perspective(600px) rotateY(0deg);}
}

.texto__principal{
    position: absolute;
    left: 10%;
    top: 30%;
    max-width: 42%;
    height: auto;
}

.texto__principal__titulo{
    font-family: var(--fonte-tercearia);
    font-size: 270%;
    animation-name: animacaoTextoPrincipal;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: backwards;
}

.texto__principal__subtitulo{
    font-family: var(--fonte-tercearia);
    font-size: 150%;
    color: #FF7373;
    padding-bottom: 1rem;
    animation-name: animacaoTextoPrincipal;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-fill-mode: backwards;
}

.texto__principal__paragrafo{
    font-family: var(--fonte-secundaria);
    font-size: 100%;
    animation-name: animacaoTextoPrincipal;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-fill-mode: backwards;
}

.texto__principal__paragrafo strong{
    font-size: 110%;
    
}

@keyframes animacaoTextoPrincipal{
    0%{ opacity: 0; transform: translateY(100px) }
    100%{ opacity: 1; transform: translateY(0px);}
}

/*====[RESPONSIVIDADE]====*/

/*====[ORIENTAÇÃO LANDSCAPE]====*/

@media screen and (max-width: 1368px) and (orientation: landscape) {
    
    .texto__principal__subtitulo{
        font-size: 140%;
    }
}

@media screen and (max-width: 1280px){ 
    
    .imagem__capa{
        max-height: 70%;
        right: 5%;
    }
    
    .texto__principal{

        left: 5%;
        top: 30%;
        max-width: 50%;
    }

    .texto__principal__titulo{
        font-size: 200%;
    }

    .texto__principal__subtitulo{
        font-size: 120%;
    }

    .texto__principal__paragrafo{
        font-size: 90%;
    }

    .texto__principal__paragrafo strong{
        font-size: 100%;
    }

    
}

@media screen and (max-width: 934px) and (orientation: landscape){
    
    .menu__cabecalho a{
        font-size: 120%;
    }

    .titulo__cabecalho{
        font-size: 150%;
    }

    .imagem__capa{
        max-height: 75%;
        right: 7%;
    }

    .texto__principal__titulo{
        font-size: 180%;
    }

    .texto__principal__subtitulo{
        font-size: 100%;
    }

    .texto__principal__paragrafo{
        font-size: 80%;
    }

    .texto__principal__paragrafo strong{
        font-size: 90%;
    }
}

@media screen and (max-width: 740px) and (orientation: landscape){
    
    .menu__cabecalho a{
        font-size: 100%;
    }

    .titulo__cabecalho{
        font-size: 130%;
    }

    .texto__principal__titulo{
        font-size: 130%;
    }

    .texto__principal__subtitulo{
        font-size: 80%;
    }

    .texto__principal__paragrafo{
        font-size: 60%;
    }

    .texto__principal__paragrafo strong{
        font-size: 90%;
    }

}

/*====[ORIENTAÇÃO PORTRAIT]====*/

@media screen and (max-width: 912px) and (min-width: 853px) and (orientation: portrait) {
    
    .imagem__capa{
        max-height: 70%;
        right: 30%;
        left: 30%;
    }

    .texto__principal{
        left: 15%;
        right: 15%;
        top: 20%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    
    .texto__principal__titulo{
        font-size: 282%;
    }

    .texto__principal__subtitulo{
        font-size: 150%;
    }

    .texto__principal__paragrafo{
        font-size: 150%;
    }

    .texto__principal__paragrafo strong{
        font-size: 100%;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    
    .imagem__capa{
        max-height: 70%;
        right: 30%;
        left: 30%;
    }

    .texto__principal{
        left: 15%;
        right: 15%;
        top: 20%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    
    .texto__principal__titulo{
        font-size: 320%;
    }

    .texto__principal__subtitulo{
        font-size: 150%;
    }

    .texto__principal__paragrafo{
        font-size: 150%;
    }

    .texto__principal__paragrafo strong{
        font-size: 100%;
    }
}


@media screen and (max-width: 820px) and (min-width: 768px) and (orientation: portrait) {
    
    

    header{
        flex-direction: column;
        justify-content: center;
        
    }

    .menu__cabecalho{
        position: relative;
    }

    .titulo__cabecalho{
        position: relative;
        margin-left: 5%;
    }

    .imagem__capa{
        max-height: 50%;
        right: 30%;
        left: 30%;
        top: 5%;
    }

    .imagem__fundo{
        top: 0%;
    }

    .texto__principal{
        bottom: -23%;
        max-width: 80%;
        left: 10%;
        right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    
    .texto__principal__titulo{
        font-size: 282%;
    }

    .texto__principal__subtitulo{
        font-size: 150%;
    }

    .texto__principal__paragrafo{
        font-size: 130%;
    }

    .texto__principal__paragrafo strong{
        font-size: 100%;
    }
}

/*====[DUAS TELAS]====*/

@media (horizontal-viewport-segments: 2) and (orientation: landscape) {

   .menu__cabecalho{
    position: relative;
    left: -2%;
    
   }

   .texto__principal{
    left: 2%;
    width: 45%;
    text-align: justify;    
   }

   .imagem__capa{
    right: 10%;
   }

   .titulo__cabecalho{
    position: relative;
    margin-left: 15%;
   }
}

@media (max-aspect-ratio: 1/1) {

    header{
        flex-direction: column;
        justify-content: center;
        
    }

    .menu__cabecalho{
        position: relative;
    }

    .titulo__cabecalho{
        position: relative;
        margin-left: 5%;
    }

    .imagem__capa{
        max-height: 40%;
        right: 30%;
        left: 30%;
        top: 5%;
    }

    .imagem__fundo{
        top: 0%;
    }

    .texto__principal{
        bottom: -23%;
        max-width: 80%;
        left: 10%;
        right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    
    .texto__principal__titulo{
        font-size: 250%;
    }

    .texto__principal__subtitulo{
        font-size: 130%;
    }

    .texto__principal__paragrafo{
        font-size: 120%;
    }

    .texto__principal__paragrafo strong{
        font-size: 100%;
    }

}

/*====[CELULAR PORTRAIT]====*/

/*====[CELULAR PORTRAIT]====*/

/* Celulares até 767px - cobre TODOS os celulares incluindo Moto E7 */
@media screen and (max-width: 767px) and (orientation: portrait) {
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__cabecalho{
        position: relative;
    }

    .menu__cabecalho a{
        font-size: 100%;
    }

    .titulo__cabecalho{
        position: relative;
        font-size: 120%;
    }

    .imagem__capa{
        max-height: 38%;
        right: 25%;
        left: 25%;
        top: 12%;
    }

    .imagem__fundo{
        top: 0%;
    }

    .texto__principal{
        top: 55%;
        max-width: 85%;
        left: 7.5%;
        right: 7.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: justify;
    }
    
    .texto__principal__titulo{
        font-size: 140%;
    }

    .texto__principal__subtitulo{
        font-size: 85%;
    }

    .texto__principal__paragrafo{
        font-size: 75%;
    }

    .texto__principal__paragrafo strong{
        font-size: 100%;
    }
}

/* Celulares muito pequenos - ajuste fino */
@media screen and (max-width: 360px) and (orientation: portrait) {
    .texto__principal__titulo{
        font-size: 120%;
    }

    .texto__principal__subtitulo{
        font-size: 75%;
    }

    .texto__principal__paragrafo{
        font-size: 65%;
    }
}